div ul li{
	margin: 0;
	padding: 0;
}
.big{
	background-color: #f8f8f8;
}
.lunkuo{
	width: 1200px;
    margin: 0 auto;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul li{
	list-style: none;
}
.up{
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
    text-align: center;
    zoom: 1;
}
.up_list{
	float: left;
}
.up_list a{
	font-size: 15px;
    color: #111;
}
.up_list_hengxian{
	float: left;
    padding: 0 24px;
}
li{
	display: list-item;
    text-align: match-parent;
}
.down_left{
	padding-bottom: 58px;
    zoom: 1;
}
.zhaopianf1{
	float: left;
    margin-right: 100px;
}
.zhaopianf1_logo{
	zoom: 1;
    float: left;
    margin-top: 20px;
}
.zhaopianf2{
	float: left;
    width: 87px;
    text-align: center;
    margin-left: 40px;
}
.zhaopianf2_logo{
	display: block;
    width: 87px;
    height: 87px;
    margin-bottom: 8px;
}
.down_right{
	float: left;
    position: relative;
	top:-54px;
}
.zaixiankefu{
	zoom: 1;
    padding-bottom: 10px;
}
.zaixiankefu:after{
	display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: '.';
}
.zaixiankefu_a{
	text-decoration:none;
	float: left;
    display: block;
    width: 98px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    background-color: #ff1268;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
}
.zhengfu1{
	zoom: 1;
    padding-bottom: 6px;
}
.zhengfu1 li{
	float: left;
}
.zhengfu1_list a,.zhengfu1 li{
	font-size: 13px;
    color: #111;
}
.zhengfu1_list_hengxian{
	padding: 0 15px;
}
.down_img{
	padding-top: 15px;
}
.down_img1{
	width: 120px;
    height: 30px;
}
.sidebar{
	top: 72.5%;
}
.sidebar{
	background: #fff;
    border: 1px solid #EBEBEB;
    width: 80px;
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -105px;
    z-index: 9999;
}
.sidebar .item{
	height: 60px;
    border-bottom: 1px solid #EBEBEB;
    text-align: center;
    padding-top: 10px;
    color: #111;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
}
.sidebar .item .icon{
	background-image: url(https://img.alicdn.com/tfs/TB1u1U9xmzqK1RjSZFHXXb3CpXa-64-180.png);
}
.sidebar .item .service{
	background-position: 3px -30px;
}
.sidebar .item .icon{
	background:url(//img.alicdn.com/tfs/TB1.FXkxTtYBeNjy1XdXXXXyVXa-64-180.png) no-repeat;
	margin:0 auto;
	width:32px;
	height:29px;
	background-size:100%;
}
.sidebar .item .icon{
	background-image:url(https://img.alicdn.com/tfs/TB1u1U9xmzqK1RjSZFHXXb3CpXa-64-180.png);
}
.sidebar .item .damai{
	background-position:0 4px;
}
.sidebar .item .icon{
	background:url(//img.alicdn.com/tfs/TB1.FXkxTtYBeNjy1XdXXXXyVXa-64-180.png) no-repeat;
	margin:0 auto;
	width:32px;
	height:29px;
	background-size:100%;
}
.sidebar .item .qrcode{
    visibility: hidden;
	position: absolute;
    left: -92px;
    top: -6px;
	box-shadow:2px 2px 4px #ccc;
	background:#fff;
	padding:5px;
}
.sidebar .item .qrcode:after{
	position:absolute;
	display:inline-block;
	top:50%;
	margin-top:-2.5px;
	right:-5px;
	width:0;
	height: 0;
	content:"";
	border-style:solid;
	border-width:5px;
	border-color:#fff ;
	transform:rotate(45deg);
	box-shadow:1px -1px 1px #ccc;
}
.sidebar .item:hover .qrcode{
	visibility: visible;
}
.sidebar .item .qrcode, .sidebar .item .qrcode img{
	width:72px;
	height: 72px;
}
.sidebar .item:last-child{
	border-bottom-width:0;
}
.sidebar .item p{
	margin:5px 0 0;
	font-size:12px;
}
p{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


